body {
  background-color: #eef9ef; /* fondo claro verde */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.navbar-brand { font-weight: 700; }
.section-padding { padding: 2.5rem 0; }
.card-img-top { height: 170px; object-fit: cover; }
.footer-green { background-color: #1f6f34; color: #fff; }
.form-section { background-color: #f3fbf5; }
