.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

aside {
  padding: 1rem;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

main {
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

li img {
  width: 25px;
  margin-right: 8px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

a.active {
  font-weight: bold;
}
